body {
    background-image: url(orange.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.dish {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    margin: 20px;
    border: 1px solid brown;
    padding: 5px;
    width: 400px;
    background-color: rgba(239, 218, 208, 0.8);
}

section {
    display: flex;
    flex-wrap: wrap;
}

.input-field, .tags {
    display: flex;
    margin-top: 15px;
}

input {
    flex:1;
    padding: 10px;
    font-family: 'Comfortaa', cursive;
}

.tags {
    justify-content: space-around;
    flex-wrap: wrap;
}

a {
    text-decoration: none;
    color: black;
}

li {
    list-style-type: none;
    font-family: 'Comfortaa', cursive;
    font-size: 17px;
    margin: 0;
}

ul {
    margin-top: -10px;
}

h2 {
    font-family: 'Lobster', cursive;
    color: brown;
    font-size: 30px;
}

h1 {
    text-align: center;
    font-family: 'Lobster', cursive;
    text-transform: uppercase;
    padding: 10px;
    margin-top: 0;
    background-color:rgb(247, 135, 66, 0.7);
    color: white;
    text-shadow: 5px 5px 5px brown;
    font-size: 50px;
}

h3 {
    font-family: 'Comfortaa', cursive;
    color: brown;
    font-size: 25px;
}

#btn {
    padding: 10px;
    background-color:rgb(247, 135, 66, 0.5);
    font-size: 20px;
    font-weight: bold;
    font-family: 'Comfortaa', cursive;
    border: none;
    border-radius: 5px;
}

#btn:hover {
    background-image: radial-gradient(white, rgb(247, 135, 66));
    color:brown;
}

.tags {
    font-size: 20px;
    font-weight: bold;
    font-family: 'Comfortaa', cursive;
}

.buttons {
    display: flex;
    justify-content: center;
}

#btnThree {
    margin: 10px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 17px;
    font-family: 'Lobster', cursive;
    background-color: rgb(172, 54, 54, 0.8);
}

@media all and (max-width:800px) {

    .dish {
        width: 40%;
    }

    h1 {
        font-size: 35px;
    }
}

@media all and (max-width:500px) {
    
    h1 {
        font-size: 23px;
    }

    h2 {
        font-size: 20px;
    }

    .dish {
        width: 38%;
        margin: 10px;
    }

    img {
        width: 100%;
        height: auto;
    }

    .main {
        font-size: 15px;
    }

    h3, li, #btn {
        font-size: 12px;
    }

    .list {
        padding: 0px;
    }

    .tags {
        font-size: 12px;
    }
}